.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.nav-menu-list {
  list-style-type: none;
  display: flex;
}

.cart-quantity {
    color: #ffffff;
    background-color: red;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    padding: 1px;
}
